{% extends "base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catgory List</title>
</head>

<style>
  #daha-cox:hover{
    color: #fff !important;
  }
</style>

<body>
  
  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Kitab Kategoriyası
          </h2>
          <p class="text-muted">
            Muxtəlif Növdə Kitab Çeşidləri
          </p>
        </div>

        <div id="loadBox">
            
        </div>

        <div class="row" id="categories-box">

        
        
        </div>

        <button class="btn btn-outline-dark btn-block" id="daha-cox" style="outline: none;">Daha Cox</button>

        <!--!Spinner Yeri-->
        <div class="d-flex justify-content-center mt-3">
          <div class="spinner-border d-none" role="status" style="color: #0047fa;" id="spinner-box">
            
          </div>
        </div>

      </div>
    </div>
  </section>

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/loadercategory.js' %}"></script>

  <script> 

      

  </script>

</body> 
</html>
{% endblock content %}